doctype html
//- Zainkluduj _head aby miec dostep do livereload i aby moc skorzystac z mixina 1.0
body
  header
    nav
      h3 Navigation
      ul
        li
          //- usun te wszystkie li i zastosuj mixiny 1.1
          a(href="/") github
        li
          a(href="/") facebook
        li
          a(href="/") youtube
          //- Dzień dobry memiarze jezeli chcecie dobra paste to musicie zainterpolowac zmienna memixx w main pre 1.2 (zmienna memixx idzie z serwera, zastosujcie nowy syntax)
  main
    pre




//- Przerob mnie 1.3 pamietaj o odzielaniu atrybutow przecinkami
//- <iframe src="https://pugjs.org/api/getting-started.html" height="1000" width="1320">
//- </iframe>
